@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-11-11 11:29:03
 * @version $Id$
 */

*{
	margin: 0;
	padding: 0;
	font-family: "Arial";
	list-style: none;
}
a{
	color:none;
	text-decoration:none;
	list-style:none;

}
a:hover{
	color: #FF7F7FFF;
}
.login{
	height: 35px;
	background-color: #424242FF;
	line-height:35px;
}
.login a{
	color: #FFFFFFFF;
	margin: 3px;
}
.login a:hover{
	color: #FF0000FF;
}
.title1{
	padding: 10px;
	margin:0;
	background-color: #FFD800FF;
	color: white;
	text-align: center;
}

.list-group li{
	display: inline-block;
	color: black;
}
.list-group li:hover{
	color: #00FF90FF;
}
#navlogo{
	height: 120px;
	background-color: #FFD800FF;
	font-size:35px; 
	line-height:120px;
	color: #FFFFFFFF;
	margin-bottom:5px;
	margin-top: -20px;
}
#navlogo .nav-left{
	margin-left: 400px;
}
#navlogo .nav-right{
	margin-left: 500px;
}
.items{
	font-size:20px;
}
.interest{
	border-style: solid;
	border-width: 1px;
	height:250px;
	width:230px;
	margin-top: 10px;
}
.interest li{
	color: black;
	font-size: 15px;
	background-color: #80808080;
	display: inline-block;
	padding: 2px;
	margin: 15px;
	border-radius:15px;
}
.interest li:hover{
	background-color: #7FC9FFFF;
}
.videobox h3{
	margin-bottom: -30px;
}
.videobox video{
	width: 228px;
	height: 220px;
}
.caini{
	border-width: 1px;
	border-color: #C0C0C0FF;
	border-style: solid;
	margin-bottom: 5px;
}
.caini h2{
	margin-left: 30px;
}
.text{
	width:100%;
	height:700px;
	background: #fff;
	margin-top: -200px;
}
.text header{
	width: 508px;
	height: 95px;
	background: #f7f7f7;
	border-radius: 48px;
	margin:220px auto 0;
	box-sizing:border-box;
	padding:7px 0 0 35px;
}
.text p{
	margin-top: 10px;
	text-align: center;
	color: #db0067;
}
.text ul{
	margin:70px auto 0;
	width: 960px;
}
.text ul li{
	width:195px;
	height:195px;
	border:1px solid #ccc;
	border-radius: 50%;
	float: left;
	margin-right:5%;
	margin-bottom: 40px;
	position: relative;
}
.text ul li img{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.text ul li:nth-child(4),.text ul li:nth-child(8){
	margin-right:0;
}
.text ul li .tihuan{
	opacity: 0;
	transition:all 0.4s ease-in 0.2s;	
}
.text ul li:hover .tihuan{
	opacity: 1;
	transform:translate(-50%,-50%) scale(0.75);	
}
.text ul li .tu{
	transition:all 0.4s ease-in 0s;
}
.text ul li:hover .tu{
	opacity: 0;
	transform:translate(-50%,-50%) scale(0.5);
}
.all-things{
	width: 1200px;
	/*border-style: solid;
	border-width: 1px;*/
}
.things-list{
	/*border-style: solid;
	border-width: 1px;*/
	padding: 5px;
}
.all-things div{
	display: inline-block;
	/*border-style: solid;
	border-width: 1px;*/
}
.all-things li{
	float:left;
	color:#636363FF;
	/*border-style: solid;
	border-width: 1px;*/
	padding: 2px;
	margin: 4px;
}
.all-things-part{
	width: 300px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
}
.footer{
	height: 200px;
	background-color: #FFE500FF;
}
.footer div div
{
	display: inline-block;
	padding: 20px;
}
.banquan{
	width:100%;
	height:50px;
	background: #333333;
}
.banquan a{
	display: inline-block;
	position: absolute;
	line-height: 50px;
	left: 45%;
}